html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  overflow-x:hidden;
  width:100%;
}
.container {
  max-width: 1280px
}
.header {
  padding: 6px 15px;
  background-color: #3cbc8d;
  color: #fff;
  border-bottom-left-radius: .45rem;
  border-bottom-right-radius: .45rem;
}
.header img {
  width: 35%;
  border-radius: 0
}
.header .mobile_menu {
  display: none;
}
.close {
  font-size: 2.5rem;
}
.content {
  margin-bottom: 5rem;
}
.btn {
  font-size: 1.6rem;
}
.btn-group-xs > .btn, .btn-xs {
  padding  : .5rem .7rem;
  font-size  : 1.3rem;
  line-height  : .9;
  border-radius : .2rem;
}
h3 {
  font-size: 2.45rem;
  padding: 5px 0;
  margin: 10px 0 15px;
  border-bottom: 1px solid #ddd;
}
h4 {
  font-size: 2rem;
  margin: 2rem 0;
}
img {
  border-radius: .45rem;
}
.form-control {
  font-size: 1.6rem
}
.attachment {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.lbl_browse {
  cursor: pointer;
}
.list_attachments .btn {
  margin-left: .4rem;
  font-size: 1.2rem;
}
.list_attachments .btn:first-of-type {
  margin-left: 0;
}
.nav {
  margin-top: 50px;
  padding: 0
}

.nav ul {
  background-color: #fff;
  text-align: right;
  padding: 10px 30px 20px 0;
  list-style-type: none
}

.nav ul li {
  margin: 10px 0
}

.nav ul li a {
  font-size: 1.2em;
  color: #3cbc8d
}

.nav ul li a:active,
.nav ul li a:hover {
  text-decoration: none
}

.nav ul li a:active i,
.nav ul li a:hover i {
  color: #000;
  -webkit-transform: translateX(3px);
  transform: translateX(3px)
}

.nav ul li i {
  margin-left: 5px;
  font-size: .8em;
  color: #3cbc8d
}
.nav img {
  width: 60%;
}

.promo div {
  background-color: #eee;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: .45rem;
}
.promo .xtra_promo {
  background-color: #3cbc8d;
  color: #fff;
}
.promo .xtra_promo a {
  color: #fff;
}
.promo .openingsuren {
  background-color: #fff;
}
.images {
  display: flex;
  height:
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  transition: all 1s ease-in-out;
  max-width: 100%;
}

.images.is-showing {
  opacity: 1
}

.images img {
  margin-left: .6rem;
}
.images img:first-of-type {
  margin-left: 0;
}

.list_openingsuren {
  padding: 0;
  list-style-type: none;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2
}
.list_openingsuren .today {
  background-color: #3cbc8d;
  color: #fff;
  padding: .25rem 1rem;
}
.footer {
  font-size: 1.4rem;
  position: fixed;
  bottom: 0;
  color: #fff;
  background-color: #3cbc8d;
  border-top-left-radius: .45rem;
  border-top-right-radius: .45rem;
  padding: 5px 15px;
  width: 1280px;
}

/* ----------- iPhone 6, 6S, 7, 8 and X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .header {
      border-radius: 0;
      margin-top: 0;
    }
    .header_blank {
      display: none;
    }
    .header .mobile_menu {
      display: block;
    }
    .nav {
      position: absolute;
      z-index: 1;
      background-color: #fff;
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
      top: -160vw;
      width: 100vw;
      margin-top: 5px;
      text-align: center;
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: cubic-bezier(0.9, 0.27, 0, 0.96);
    }
    .nav_on {
      top: 13vw;
    }
    .nav ul {
      width: 100vw;
      margin: 0;
      padding: 0;
    }
    .nav li {
      text-align: center;
      margin: 0;
      padding: 0 0 5px 0;
      border-bottom: 1px solid #ddd;
    }
    .nav i {
      display: none;
    }

    .footer {
      width: 100vw;
    }
  }
  /* Portrait */

  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      .header img {
        width: 85%;
      }
      .nav img {
        width: 30%;
      }
      .footer {
        font-size: 70%;
        border-radius: 0;
      }
      .promo .openingsuren {
        font-size: 1.4rem;
      }
  }

  /* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .header img {
      width: 55%;
    }
    .header .mobile_menu {
      font-size: 1.5rem;
    }
    .nav img {
      width: 17%;
    }
}


/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    .header img {
      width: 55%;
    }
    .header .mobile_menu {
      font-size: 2.2rem;
    }
    .nav img {
      width: 17%;
    }
}
