<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91090070-1', 'auto');
  ga('send', 'pageview');

</script>
<!--<div class="alert alert-info">We zijn vandaag, 26 mei geopend van 8u30 tot 18u</div>-->
<h3>Alpha Copy, de grootste copyshop in hartje Leuven!</h3>
<p>
	Al 30 jaar lang is Alpha Copy uw vaste adres in Leuven voor al uw print- en kopieerwerk van A tot Z. Met een brede waaier aan snelle, degelijke en voordelige print-, kopie- en afwerkingsdiensten maken wij keer op keer tevreden klanten, van studenten tot bedrijven.
 	<br /><br />
	Spring dus gerust bij ons binnen voor uw
	<ul>
		<li>Kopieer- en printopdrachten</li>
		<li>Inbinden</li>
		<li>Thesis</li>
		<li>Verzendingen</li>
		<li>Affiches</li>
		<li>Planafdruk</li>
		<li>…</li>
	</ul>
	Wij garanderen verzorgd, kwaliteitsvol en perfect print- en kopieerwerk volgens de regels van de kunst.
 	</p>
	<img src="img/shop01.jpg" alt="Alpha Copy"/>
<!--<p>29 jaar zijn wij in Leuven een vaste waarde voor al uw kopiewerk. Wij bieden u via deze webstek graag kennis met ons uitgebreid gamma print-, kopie- en afwerkingsdiensten.</p>-->
