<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91090070-1', 'auto');
  ga('send', 'pageview');

</script>
<h3>Klantenkaart</h3>
<h4>Tot € 10 gratis op je klantenkaart.</h4>
<p>
In de winkel kan je een klantenkaart aanschaffen van <strong>€ 25</strong>. Hiervoor krijg een een krediet van <strong>€ 35</strong>. U krijgt dus <strong>€ 10 gratis</strong> van ons.
<br />
<br />
Je kan deze gebruiken om te betalen in de winkel en dient dus niet enkel voor kopies of prints. U kan hier alles met betalen buiten doctoraten en cursussen.
<br />
<br />
We hebben ook kaarten van € 5 waar je € 0.50 extra krijgt en € 12.50 waar je € 2.50 extra krijgt.
<br />
<br />
Vraag ernaar in de winkel!
