<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91090070-1', 'auto');
  ga('send', 'pageview');

</script>
<h3>Planafdruk</h3>
Onze 3 grootformaatprinters kunnen al je plannen, posters, foto's,... in een mum van tijd kopieren, printen en scannen.
<br />
<br />
Een breedte van <b>90cm</b> op rol kunnen we in kleur of grijswaarden <b>onmiddellijk</b> afdrukken op <b>gewoon papier (80g)</b>
<br />
<br />
We beschikken ook over een grote <b>fotoprinter</b> die eveneens op rol tot 90cm breed kan printen op <b>fotopapier (glossy 250g)</b>.
<br />
<br />
<div class="alert alert-warning">
  Je bestanden breng je best mee op ware grootte in PDF-formaat. We printen deze onmiddellijk voor u uit.
</div>
<br />
<img src="http://www.stanfordmarsh.co.uk/images/9399760_big_888898_large.jpg" alt="" style="width: 48%" />
<img src="https://media.canon-asia.com/shared/live/products/EN/ipf8300-b1.png" alt=""  style="width: 48%"/>
