<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91090070-1', 'auto');
  ga('send', 'pageview');

</script>
<h3>Thesis Printen</h3>
<h4>Zonder afspraak</h4>
U kan langskomen in de winkel.
<br />
U dient hiervoor <b>geen afspraak</b> te maken.
<h4>Max. 4 werkuren</h4>
We printen samen je thesis af, u kiest een type van inbinding en <b>maximum 4 werkuren</b>
later kan u de ingebonden exemplaren komen ophalen.
<br />
<br />
<a class="" href="folders/thesis.pdf" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Deze folder</a> geeft alle antwoorden op jouw thesis vragen.
