<script src="/____webshop/v1/alphacopyleuven.be/init.js"></script>
<onecom-webshop-main class="onecom-webshop-main" params="
    showCategorySelector: true,
    imageRatio: 'square',
    cropImages: true,
    productsPerPage: 24,
    productsPerRow: 4,
    showProductPreview: true,
    sortProducts:  'name-ascending',
    userCanSortProducts: true,
    buttonClassname: 'btn-myclass',
    buyButtonText: 'Koop',
    embedType : 'html'
"></onecom-webshop-main>
<script src="/____webshop/v1/alphacopyleuven.be/init.js"></script>
<onecom-webshop-cart class="onecom-webshop-cart" params="
    cartType: 'overlay',
    cartColor: '#63aadb',
    flatBackgroundColor: 'transparent',
    overlayBackgroundColor: '#f3f3f3',
    showMobileCart: true,
    mobileBackgroundColor: '#ffffff',
    overlayPosition: 75
"></onecom-webshop-cart>